.modal.fade .modal-dialog {
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;}
    
.modal-backdrop.show {
    background-color: rgba(255, 255, 255, 0.75) 
}
.save-btn:disabled{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    color: rgb(83, 85, 83);
    cursor: default
}

.save-btn:not(:disabled):hover{
    color: rgb(21, 126, 11);
    transform: scale(1.1);
}
.cancel-btn,.update-btn{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    transition: transform 0.2s;
}

.cancel-btn:hover{
    color: red;
    transform: scale(1.1);
}