.home-container {
  background: url('../assets/theater.png') no-repeat center center/cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  padding-top: 20px;
  background-color: rgb(238, 193, 238);
}

.headline {
  color: #a9a391;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
  margin-bottom: 10px;
  text-align: center;
}

.image-container {
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px; /* Space between image and overlay */
}



.overlay {
  padding: 60px;
  border-radius: 15px;
  width: 100%;
  
  
}

.nav-links {
  list-style: none;
  padding: 0;
}

.nav-links li {
  margin: 15px 0;
}

.nav-links {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 15px; /* Space between buttons */
  align-items: center;
}

.nav-links .btn {
  width: 250px; /* Make buttons the same size */
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.content{
  width: 40%;
  align-content: center;
  text-align: center;
  align-items: center;
  justify-content: center;


}